.question_label {
  font-family: "Caveat", cursive;
  font-size: 1.7rem;
  font-weight: bold;
}

.fillsb_container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
}
.light-bg-col {
  background-color: var(--bg-primary);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.hello-frnd {
  font-size: 3rem;
  font-weight: bold;
  font-family: "Caveat", cursive;
  /* font-family: "Gloria Hallelujah", cursive; */
  color: var(--dark-primary);
}

@media (max-width: 768px) {
  .light-bg-col {
    background-color: var(--bg-primary);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 0px;
  }
  .hello-frnd {
    font-size: 2rem;
  }
}
